# .gitignore for rust-kaon repository workspace.

# Lock files
Cargo.lock
internals/Cargo.lock
kaon/Cargo.lock
hashes/Cargo.lock

# Build artifacts
target
internals/target
kaon/target
hashes/target

# Test artifacts
kaon/dep_test

# Fuzz artifacts
hfuzz_target
hfuzz_workspace
